* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 100vh;
  width: 100vw;

  line-height: 1.5;

  background: #333;
  font-family: "Nerko One", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", arial !important;
}

/* Top initializatio  */
button:focus {
  outline: none !important;
}

.main-container {
  background: rgb(255, 255, 255);

  height: 100%;
  width: 100%;
}

.start-items,
.game-container,
.tip-container {
  height: 100vh;
  width: 100%;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Start button Items */

.s-container {
  border: solid 3px #000;
  height: 8%;
  width: 44%;

  border-radius: 40px;
  box-shadow: inset -2px -3px 1px #000, inset -7px -6px 1px #d1d1d1;

  display: flex;
  align-items: center;
  justify-content: start;

  cursor: pointer;
}

.s-container:hover {
  background: #fff8d3;
}

.s-heading {
  font-size: 8em;
}

.s-ball {
  height: 30px;
  width: 30px;
  border: solid 2px #000;
  box-shadow: inset -3px -4px 1px #aa772a;

  background: #e7a747;

  margin-left: 5%;
  margin-bottom: 2px;
  border-radius: 50%;
}

.s-start {
  font-size: 1.4em;
  margin-left: 10px;

  margin-top: -4px;
  color: #000;
}

/* Tip container */
.tip-container {
  padding: 0px 30px;
  text-align: center;
}
.tip-container h4 {
  line-height: 1.5;
}

/* Game container  */
.game-container {
  font-size: 10em;
  justify-content: space-between;
}

.game-record-bar {
  background: #015f5a;

  color: #fff;
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mylogo {
  height: 100%;
  display: flex;
  align-items: center;
}
.mylogo img {
  height: 40px;
}

.logo-text h6 {
  margin: 0px;
}

.logo-text h6:nth-child(1) {
  margin-bottom: -4px;
}

.records {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", arial;
}

.records h6 {
  margin: 0px;
}

.game-box {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.game-controls {
  height: 10%;

  cursor: pointer;
  display: flex;
  align-items: flex-end;

  position: fixed;
  bottom: 0;
}

.game-control-row {
  display: flex;
  align-items: center;
  justify-self: flex-end;

  height: 100%;
  width: 100vw;
}

.game-box .row .box {
  font-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 45px 0px;
  cursor: pointer;
}

.game-box .row .box:hover {
  background: #ececec;
}

.gameControlBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 20px;

  color: #222;
}

.gameControlBtn:nth-child(1),
.gameControlBtn:nth-child(3) {
  background: #e0e0e0;
}

.gameControlBtn:nth-child(2),
.gameControlBtn:nth-child(4) {
  background: #ececec;
}

.gameControlBtn:hover {
  font-size: 26px;
}
.gameControlBtn h6 {
  margin: 0px;
  display: none;
}

/* Dialog box */
.dialog-container,
.gameOver-container {
  position: absolute;
  top: 50;
  width: 280px;
  height: 140px;
  background: #fff;
  border: solid 1px rgb(0, 83, 56);
  box-shadow: #000 2px 2px 1px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.combo {
  height: 190px;
}

.dialog-heading {
  margin: 10px 10px;
  border-bottom: solid 1px #000;
  padding-bottom: 5px;
}

.dialog-text {
  padding: 0px 10px;
}

.dialog-buttons {
  margin: 0px 10px;
}

.button-1,
.button-2 {
  margin: 10px 0px;
  padding: 5px 20px;

  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: #000 1px 1px 1px;

  background: #fff;
  color: #000;
}

.dialog-buttons button:hover {
  color: #015f40;
}

/* Game Over  */
.gameOver-container {
  height: 195px;
  width: 280px;
  align-items: center;
}

.gameOver-content {
  font-size: 50px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-self: center;

  height: 300px;
}

.gameOver-content img {
  height: 60px;
  margin-bottom: 10px;
}

.gameOver-content div h6,
.gameOver-content div h4 {
  margin: 0px;
}

/* Animals image */
.object img {
  height: 70px;
}
/* Phones under tablet */
@media only screen and (max-width: 767px) {
  .tip-container h4 {
    font-size: 20px;
  }

  .game-controls {
    height: 7.5%;
  }

  .game-box {
    height: 83%;

    margin-bottom: 9.5%;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .s-container {
    width: 25%;
  }

  .game-container {
    font-size: 15em;
  }

  .game-record-bar {
    padding: 30px;
  }

  .game-box .row .box {
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 60px 0px;
    cursor: pointer;
  }
}

/* Laptops */
@media only screen and (min-width: 992px) {
  .s-container {
    width: 15%;
  }
}

.shake {
  animation: shake 2s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 5px;
  }
}

.fade {
  animation: fade 1.7s;
  animation-fill-mode: forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* My Parameters */
.hidden {
  display: none !important;
}

.bevel-down {
  box-shadow: inset #000 2px 3px 1px;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
}

.disabledB {
  pointer-events: none;
  zoom: 1;
}
